@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", serif;
  /* overflow-x: hidden; */
}

body {
  @apply text-grey-30;
}

h1 {
  @apply text-[28px] text-grey-10 font-semibold uppercase sm:text-[38px];
}

h2 {
  @apply text-grey-10 text-[22px] font-semibold sm:text-[24px];
}

h3 {
  @apply text-grey-10 text-[18px] sm:text-[20px] font-semibold;
}

p {
  @apply text-[14px] sm:text-[16px];
}

label {
  @apply text-[14px] text-grey-70
}

span {
  @apply text-[14px];
}

nav {
  @apply py-[18px] border-b px-4 sm:px-20;
}

input {
  @apply bg-white-97 w-full rounded-[32px] px-5 py-4 border-y-white-95 border text-[14px] text-grey-10 font-medium placeholder:font-medium
}

nav ul {
  @apply gap-x-[14px] relative flex items-center;
}

.form-field {
  @apply flex flex-col gap-y-2
}

.nav-link {
  @apply px-[18px] text-grey-15 hidden py-3 text-sm sm:block;
}

.page-contents {
  @apply flex flex-col gap-y-20 sm:gap-y-[150px] px-4 sm:px-20 pt-10 sm:pt-20
}

.section-header {
  @apply flex sm:flex-row flex-col
}
.section-title {
  @apply order-2 sm:order-1
}
.section-subtitle {
  @apply order-1 sm:order-2 text-grey-60 uppercase
}
.section-tagline {
  @apply mt-4 sm:mt-5 text-grey-40
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.center-y {
  @apply top-[50%] translate-y-[-50%]
}
.-center-y {
  @apply top-0 translate-y-0
}
.center-x {
  @apply left-[50%] translate-x-[-50%]
}
.center-x- {
  @apply left-0 translate-x-0
}
.center-xy {
  @apply left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]
}
.-center-xy {
  @apply left-0 top-0 translate-x-0 translate-y-0
}

input:focus {
  @apply outline-grey-70
}
input {
  @apply text-grey-60 font-medium text-[14px]
}