@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply text-grey-30;
}

h1 {
  @apply text-grey-10 text-[38px] font-semibold uppercase;
}

h2 {
  @apply text-grey-10 text-[26px] font-semibold;
}

h3 {
  @apply text-grey-10 text-[18px] font-semibold;
}

p {
  @apply text-[16px];
}

span {
  @apply text-[14px];
}

nav {
  @apply px-20 py-[18px] border-b;
}

nav ul {
  @apply relative flex items-center gap-x-[14px];
}

.nav-link {
  @apply px-[18px] py-3 text-sm text-grey-15;
}
